Repository Mnigos/nft-marketplace-contract: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, solhint "contracts/**/*.sol" --fix && prettier --write "contracts/**/*.sol"

chore(deps): add `@openzeppelin/contracts`
  package.json
  yarn.lock
Due: none

refactor(scripts/deploy): prepare for new contracts
  scripts/deploy.ts
Due: eslint --cache --fix

refactor(contracts): remove unused `Lock` contract
  contracts/Lock.sol
Due: solhint "contracts/**/*.sol" --fix && prettier --write "contracts/**/*.sol"

feat(contracts): create `Marketplace` contract
  contracts/Marketplace.sol
Due: solhint "contracts/**/*.sol" --fix && prettier --write "contracts/**/*.sol"

feat(contracts): create `NFT` contract
  contracts/NFT.sol
Due: solhint "contracts/**/*.sol" --fix && prettier --write "contracts/**/*.sol"

chore(eslintrc): disable `unicorn/filename-case` for tests directory
  .eslintrc.cjs
Due: none

test: create unit tests for `NFT` contract
  test/Lock.ts
  test/NFT.spec.ts
Due: eslint --cache --fix

fix(Marketplace): requires
  contracts/Marketplace.sol
Due: solhint "contracts/**/*.sol" --fix && prettier --write "contracts/**/*.sol"

feat(utils): create `toWei` and `fromWei` functions
  utils/index.ts
Due: eslint --cache --fix

test(Marketplace): create unit tests
  test/Marketplace.spec.ts
Due: eslint --cache --fix

feat(scripts/deploy): write contract address after deploy
  scripts/deploy.ts
Due: eslint --cache --fix

chore(hardhat.config): implement verifying contract
  .env.example
  hardhat.config.ts
  package.json
Due: eslint --cache --fix

docs(README): fix title and add contracts addresses
  README.md
Due: eslint --cache --fix

Update README.md
  README.md
Due: eslint --cache --fix

Path conditions:
  eslint --cache --fix: any of: *.{js,ts,md,jsx,tsx,mdx}
  solhint "contracts/**/*.sol" --fix && prettier --write "contracts/**/*.sol": any of: *.sol
